/* CSS Document */
body {
	backgroundimage: url("../img/body_bg.jpg");
	position:relative;
	}

#con{
  marginleft: auto ;
  marginright: auto ;
  width:960px;
  paddingtop:0px;
}
#titleimg{
	display: block;
	width:350px;
	height:85.75px;
	marginleft: 0px;
	margintop:10px;
	marginbottom:10px;
}

h2{	
	margin: 5px 0px;
	padding:0px 0px 0px 0px;
	color:#cc0000;
}

p{
	fontsize: 22px;
	padding:0px 15px;
}

#cloud{
	position:absolute;
	left:10px;
	top:10px;
	zindex:1;
}
ul.menu{
	margin:0px 0px 40px 0px;
	padding:0px;
}

ul.menu li{
	float:left;
	width:192px;
	height:64px;
	background:url("../img/button.png");
	position:relative;
	liststyle:none;
}

ul.menu li a{
	display:block;
	width:100%;
	height:100%;
	lineheight:64px;
	textindent:30px;
	color:#CFDFB5;
	textdecoration:none;
	position:relative;
}

ul.menu li a:hover{
	fontweight:bold;
}

ul.sub li{
	float:none;
}

ul.menu:after {
	height:0;
	visibility:hidden;
	content:".";
	display:block;
	clear:both;
}

ul.sub{
	display:none;
}
	
	




