/* CSS Document */
body {
	background-image: url("../img/body_bg.jpg");
	position:relative;
	}

#con{
  margin-left: auto ;
  margin-right: auto ;
  width:960px;
  padding-top:0px;
}
.navbar{
	top:0px;
	position:fixed;
	width:400px;
	padding-left:5px;
	left:50%;
	margin-left:0px;
}
#titleimg{
	display: block;
	width:350px;
	height:85.75px;
	margin-left: 0px;
	margin-top:10px;
	margin-bottom:10px;
}

h2{	
	margin: 0px;
	padding:0px 0px 0px 5px;
	color:#cc0000;
}

p{
	font-size: 20px;
	padding:10px 15px;
}

#cloud{
	position:absolute;
	left:0;
	top:-10px;
	z-index:-1;
}




