@charset "utf8";
/* CSS Document */

#main {
	margin:0px auto;
	width:960px;
	backgroundcolor:#000000;
	backgroundimage:url("../img/shimashima.gif");
	backgroundrepeat:repeaty; 
	backgroundposition:0px 20px;
	paddingbottom:8px;
	paddingtop:95px;
}